.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 32px;
    padding-bottom: 64px;
}

.tabs__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.search {
    width: 576px;
}

.search__block {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.icon__city {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}

.search__settings {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.search__settings div {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}

.filters {
    display: flex;
    width: 273px;
    flex-direction: column;
    gap: 20px;
}

.price {
    display: flex;
    flex-direction: row;
    width: 273px;
    justify-content: space-between;
}

.priceFrom {
    width: 130px;
}

.priceTo {
    width: 130px;
    padding-top: 24px;
}

.all__ads__filter {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.all__ads {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
    .search {
        width: 576px;
    }

    .all__ads__filter {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .all__ads {
        gap: 16px;
    }
}
