.modal {
    width: 980px;
    border-radius: 30px;
    background-color: #F5F1EE;
    background-image: url("../../static/bg_pattern.png");
    display: flex;
}

.modal>img {
    border-radius: 30px 0 0 30px;
}

.form {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paw {
    display: block;
    position: relative;
    width: 24px;
    height: 24px;

    margin: 24px 0 9px 0;
}

.paw:before, .paw:after {
    content: "";
    position: absolute;
    width: 169px;
    height: 1px;
    top: 50%;
    background-color: var(--subtext);
}

.paw:before {
    right: calc(19px + 100%);
}

.paw:after {
    left: calc(19px + 100%);
}

.heading {
    margin-bottom: 62px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 34px;
    margin-bottom: 68px;
}

.pwd__block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.forgot__pwd {
    margin-bottom: 9px;
}
