.content {
    width: 274px;
    border-right: var(--subtext) 1px solid;
    padding-top: 24px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    padding-top: 24px;
    padding-left: 12px;
    padding-bottom: 24px;
}

.menu {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: space-between;
    height: 100%;
    gap: 12px
}

.menu__item {
    padding-left: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px
}

.divider {
    width: 273px;
    height: 1px;
    background-color: var(--subtext);
}

.settings__quit {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    gap: 12px;
    padding-bottom: 24px;
}

.nav :global(>a.active) h2 {
    font-weight: bold;
    font-size: 18px;
}

@media screen and (max-width: 1000px) {
    .content{
        width: 172px;
    }

    .divider{
        width: 172px;
    }
}
