.content {
    width: 274px;
    height: 100%;
    border-right: var(--secondary--text--color) 1px solid;
    padding-top: 24px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
}

.menu__item {
    padding-left: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px
}

.menu__item > svg {
    transition: .2s;
}

.menu__item > svg > path {
    fill: var(--orange--primary--color);
}

.menu__item:hover > svg {
    transform: translateX(-8px);
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--secondary--text--color);
}

.content:global(>a.active) {
    font-size: 18px;
    font-weight: bold;
}

@media screen and (max-width: 1000px) {
    .content {
        width: 172px;
    }
}
