.modal {
    background-color: #F5F1EE;
    background-image: url('../../../../static/bg_pattern.png');
    position: fixed;
    top: env(safe-area-inset-top);
    bottom: env(safe-area-inset-bottom);
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
}

.wrapper__arrow {
    width: 70px;
    height: 70px;
    position: absolute;
    top: -11px;
    left: -5px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(.5);
}

.arrow {
    width: 70px;
    height: 4px;
    background-color: var(--text);
    border-radius: 2px;
    flex-grow: 1;
}

.arrow:before, .arrow:after {
    content: '';
    height: 4px;
    width: 35px;
    background-color: var(--text);
    border-radius: 2px;
    position: absolute;
}

.arrow:before {
    transform: rotate(-45deg);
    bottom: 45px;
    left: -3px;
}

.arrow:after {
    transform: rotate(45deg);
    top: 45px;
    left: -3px;
}

.cross {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 5px;
}

.cross:before, .cross:after {
    content: '';
    height: 2px;
    width: 35px;
    background-color: var(--text);
    border-radius: 2px;
    position: absolute;
}

.cross:before {
    transform: rotate(45deg);
}

.cross:after {
    transform: rotate(-45deg);
}

.auth {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.button__and__signin {
    display: flex;
    align-items: center;
    flex-direction: column;
}