.window {
    width: 778px;
    height: 440px;
    margin: 100px auto;
    background-color: var(--base--0);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.window h1 {
    margin-top: 40px;
}

.window h3 {
    margin-top: 40px;
}

.inputs {
    margin-top: 60px;
    width: 374px;
}


.input__password2 {
    margin-top: 32px;
}

.button {
    margin-top: 60px;
}

.main__page {
    margin-top: 100px;
}

.success__message {
    color: var(--green--600);
    margin-top: 64px !important;
}

@media screen and (max-width: 700px) {
    .window {
        width: 340px;
        height: 391px;
        margin: 60px auto;
        background-color: var(--base--0);
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inputs {
        margin-top: 36px;
        width: 260px;
    }

    .button {
        margin-top: 36px;
    }
}
