.tabs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.tabs > a {
    border-top: 2px solid var(--green--primary--color);
    border-bottom: 2px solid var(--green--primary--color);
    border-right: 1px solid var(--green--primary--color);
    border-left: 1px solid var(--green--primary--color);
    box-sizing: border-box;
    font: var(--body-regular--text--size);
    color: var(--green--primary--color);
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabs > a:last-child {
    border-right: 2px solid var(--green--primary--color);
    border-radius: 0 12px 12px 0;
}

.tabs > a:first-child {
    border-left: 2px solid var(--green--primary--color);
    border-radius: 12px 0 0 12px;
}

.tabs:global(>a.active) {
    background-color: var(--green--primary--color);
    color: var(--base--0);
    font: var(--heading-5--text--size);
}

@media screen and (max-width: 700px) {
    .tabs {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }
}
