.title__mobile {
    margin-top: 32px;
}

.date {
    margin-top: 8px;
    color: var(--blue--300);
}

.photo__name {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 24px;
}

.user_photo {

}

.description {
    width: 577px;
    margin-top: 12px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: flex-start;
}

.statistic {
    margin-top: 24px;
    margin-bottom: 40px;
}

.stat__pets {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
}

.pets__block {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 36px;
}

.statistic__specialist {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 64px;
    margin-top: 32px;
}

.stars__reviews {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}

.stat__rating {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}

.reviews {
    display: flex;
    margin-top: 32px;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}

.specialist {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}

@media screen and (max-width: 700px) {
    .description {
        width: 100%;
    }

    .statistic__specialist {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 32px;
        margin-top: 32px;
        margin-bottom: 100px;
    }
}
