.title {
    margin-bottom: 8px;
}

.date {
    margin-bottom: 8px;
}

.photo__name {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 24px;
}

.description {
    width: 577px;
}

.description h2 {
    margin-bottom: 8px;
}

.statistic {
    margin-top: 32px;
}

.title__pets {
    margin-bottom: 12px;
}


.pets__block {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 12px;
    margin-bottom: 32px;
}


.stars__reviews {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    margin-bottom: 8px;
}

.stat__rating {
    margin-bottom: 32px;
}

.reviews h2 {
    margin-bottom: 12px;
}

.statistic__specialist {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 64px;
    margin-top: 32px;
}

.specialist h2 {
    margin-bottom: 12px;
}

.specialist a {
    display: block;
    margin-top: 8px;
}

@media screen and (max-width: 700px) {
    .description {
        width: 100%;
    }

    .statistic__specialist {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 32px;
        margin-top: 32px;
        margin-bottom: 72px;
    }
}
