.modal{
    background-color: #F5F1EE;
    background-image: url('../../../../static/bg_pattern.png');
    position: fixed;
    top: env(safe-area-inset-top);
    bottom: env(safe-area-inset-bottom);
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
}

.cross {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 5px;
}

.cross:before, .cross:after {
    content: '';
    height: 2px;
    width: 35px;
    background-color: var(--white);
    border-radius: 2px;
    position: absolute;
}

.cross:before {
    transform: rotate(45deg);
}

.cross:after {
    transform: rotate(-45deg);
}

.auth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-bottom: 24px;
    padding-top: 24px;
    flex: 1;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.button__and__reg {
    display: flex;
    align-items: center;
    flex-direction: column;
}
