.content {
    padding-top: 24px;
    padding-left: 29px;
}

.title__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 24px;
    flex-wrap: wrap;
    padding-bottom: 24px;
}