.modal {
    background: var(--background);
    display: flex;
    height: 630px;
    width: 980px;
    border-radius: 32px;
}

.paw {
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
}

.paw:before, .paw:after {
    content: '';
    position: absolute;
    width: 169px;
    height: 1px;
    top: 50%;
    background-color: var(--secondary--text--color);
}

.paw:before {
    right: calc(19px + 100%);
}

.paw:after {
    left: calc(19px + 100%);
}

.paw path {
    fill: var(--blue--300);
}

.paw__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    text-align: center;
    color: var(--blue--300);
}

.cross {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
}

.cross path {
    fill: var(--base--600);
}

.arrow {
    position: absolute;
    left: 10px;
    top: 22px;
    width: 28px;
    height: 1.5px;
    background-color: var(--primary--text--color);
    border-radius: 1px;
    z-index: 10;
    border-top: 16px solid;
    border-bottom: 16px solid;
    border: transparent;
}

.arrow:before, .arrow:after {
    content: '';
    height: 2px;
    width: 18px;
    background-color: inherit;
    border-radius: 1px;
    position: absolute;
}

.arrow:before {
    transform: translateY(-6px) translateX(-2px) rotate(-45deg);
    bottom: 0;
}

.arrow:after {
    transform: translateY(6px) translateX(-2px) rotate(45deg);
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    gap: 24px;
    position: relative;
}

.form__wrapper {
    width: 100%;
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.submit {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.switch__content {
    color: var(--blue--300);
    text-align: center;
    width: 100%;
}

@media screen and (max-height: 600px) {
    .image {
        display: none !important;
    }
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.pwd__block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

@media screen and (max-width: 1000px) {
    .modal {
        width: 450px;
    }

    .image {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .modal {
        position: fixed;
        top: env(safe-area-inset-top);
        bottom: env(safe-area-inset-bottom);
        left: 0;
        right: 0;
        width: 100%;
        height: initial;
        border-radius: 0;
        flex-direction: column;
    }

    .image {
        display: flex;
    }

    .cross {
        top: 5px;
        right: 5px;
    }

    .cross:before, .cross:after {
        width: 35px;
    }

    .form {
        width: 260px;
    }

    .button__and__switch__content {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 8px;
        text-align: center;
    }

}
