.card {
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: var(--card-shadow);
}

.medium {
    width: 273px;
    height: 320px;
}

.medium .img {
    height: 200px;
    width: 273px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.small {
    width: 172px;
    height: 200px;
}

.small .img {
    height: 125px;
    width: 172px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}


.name {
    margin-top: 15px;
    margin-left: 16px;
}

.pet__tag {
    background-color: var(--accent-green);
    color: var(--white);
    padding: 5px 10px;
    border-radius: 15px;
    margin-right: 12px;
    display: inline-block;
}

.type__breed {
    margin-top: 8px;
    margin-left: 16px;
}

.gender__age {
    margin-top: 8px;
    margin-left: 16px;
}

@media screen and (max-width: 700px) {

    .medium {
        width: 260px;
        height: 300px;
    }

    .medium .img {
        height: 180px;
        width: 260px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }

    .small {
        width: 160px;
        height: 180px;
    }

    .small .img {
        height: 112px;
        width: 160px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }

    .gender__age {
        margin-top: 4px;
        margin-left: 16px;
    }

}
