.wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    background: var(--overlay-color);
    position: fixed;
    width: 100%;;
    height: 100vh;
    left: 0;
    top: 0;
}

.modal {
    position: fixed;
    cursor: initial;
}

.cross {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
