.wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.overlay {
    background: var(--overlay-color);
    position: fixed;
    width: 100%;;
    height: 100vh;
    left: 0;
    top: 0;
    cursor: default;
    transition: opacity .3s, visibility .3s;
}

.modal {
    position: fixed;
    cursor: initial;
    pointer-events: all;
}

.opened {
    cursor: default;
    opacity: 1;
    visibility: visible;
}

.closed {
    opacity: 0;
    visibility: hidden;
}