.back__name__button {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 33px;
}

.arrow__container {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.arrow__back {
    width: 32px;
    height: 32px;
}

.arrow__back path {
    fill: var(--base--800);
}

.name{
    flex: 1;
    margin-left: 32px;
}

.slider__name h2 {
    margin-top: 32px;
}

.chips {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 4px;
}

.photo__info {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    margin-top: 32px;
}

.full__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 32px;
    margin-left: 40px;
}

.owner {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.star path {
    fill: var(--orange--600);
}

.description {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.sterilization__vaccination {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.info__check {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.info__check > svg > path {
    fill: var(--orange--primary--color);
}


@media screen and (max-width: 700px) {
    .chips {
        flex-wrap: wrap;
    }

    .full__info {
        flex-direction: column;
        gap: 24px;
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }

    .description {
        width: 100%;
    }

    .photo__info {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: normal;
    }
}