.overlay {
    height: 100vh;
    width: 100vw;
    background-color: var(--base--800);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 49;
    visibility: hidden;
    transition: all 0.1s ease-in-out;
}

.burger {
    width: 300px;
    background-color: var(--base--0);
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
    position: absolute;
    top: 0;
    left: -300px;
    z-index: 50;
    transition: left .2s ease-in-out;
}

.burger__opened {
    left: 0;
}

.overlay__opened {
    visibility: visible;
    opacity: .4;
}

.header__burger {
    height: 130px;
    width: 100%;
    background-color: var(--green--primary--color);
    border-top-right-radius: 16px;
    display: flex;
}

.content__header__burger {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding-left: 12px;
}

.icon__header__burger{
    width: 48px;
    height: 48px;
}

.icon__header__burger path {
    fill: var(--base--0);
}

.title__header__burger {
    color: var(--base--0);
}

nav {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 12px;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.icon path {
    fill: var(--orange--primary--color);
}

.burger__item {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 100%;
}

nav :global(a.active) {
    font-size: var(--heading-5--text--size);
    font-weight: 700;
}

.divider {
    width: 277px;
    height: 1px;
    background-color: var(--blue--300);
    opacity: .3;
    border-radius: 1px;
}
