.modal {
    width: 980px;
    border-radius: 30px;
    background-color: #F5F1EE;
    background-image: url('../../../static/bg_pattern.png');
    display: flex;
}

.modal > img {
    border-radius: 30px 0 0 30px;
}

.reg {
    width: 100%;
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 300px;
}

.info__inputs {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.submit {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.email__confirm {
    display: flex;
    justify-content: space-between;
}

.password1 {
    position: relative;
}

.passwords__different {
    position: absolute;
    right: -35px;
    top: 77px;
    width: 25px;
    height: 25px;
}

.passwords__different > img {
    filter: invert(48%) sepia(26%) saturate(1351%) hue-rotate(314deg) brightness(96%) contrast(112%);
}

.send__code {
    position: relative;
}

.resend__code {
    position: absolute;
    top: 105%;
    left: 10px;
    font-size: 12px;
}

.code__verified__msg {
    position: absolute;
    top: -20px;
    left: 110%;
    width: 300px;
}

.cross {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
