@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import '~react-image-gallery/styles/css/image-gallery.css';

:root {
    --vh: vh;

    /* Save areas */
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);

    /* Color styles */
    --pattern: rgba(245, 241, 238, 1);
    --base--900: rgba(45, 45, 45, 1);
    --base--800: rgba(79, 79, 79, 1);
    --base--700: rgba(111, 111, 111, 1);
    --base--600: rgba(132, 132, 132, 1);
    --base--500: rgba(174, 174, 174, 1);
    --base--400: rgba(203, 203, 203, 1);
    --base--300: rgba(237, 237, 237, 1);
    --base--200: rgba(242, 242, 242, 1);
    --base--100: rgba(247, 247, 247, 1);
    --base--0: rgba(255, 255, 255, 1);

    --orange--900: rgba(244, 121, 50, 1);
    --orange--700: rgba(250, 164, 57, 1);
    --orange--800: rgba(248, 148, 54, 1);
    --orange--600: rgba(252, 181, 61, 1);
    --orange--500: rgba(254, 195, 65, 1);
    --orange--400: rgba(255, 203, 76, 1);
    --orange--300: rgba(255, 214, 101, 1);
    --orange--200: rgba(255, 224, 143, 1);
    --orange--100: rgba(255, 236, 186, 1);
    --orange--50: rgba(255, 248, 228, 1);

    --green--900: rgba(77, 104, 41, 1);
    --green--800: rgba(111, 138, 57, 1);
    --green--700: rgba(131, 157, 65, 1);
    --green--600: rgba(152, 177, 75, 1);
    --green--500: rgba(168, 193, 83, 1);
    --green--400: rgba(180, 202, 108, 1);
    --green--300: rgba(194, 211, 134, 1);
    --green--200: rgba(211, 224, 168, 1);
    --green--100: rgba(229, 236, 202, 1);
    --green--50: rgba(245, 248, 234, 1);

    --red--900: rgba(201, 47, 48, 1);
    --red--800: rgba(216, 57, 60, 1);
    --red--700: rgba(229, 64, 68, 1);
    --red--600: rgba(248, 74, 75, 1);
    --red--500: rgba(255, 81, 75, 1);
    --red--400: rgba(255, 97, 100, 1);
    --red--300: rgba(241, 127, 131, 1);
    --red--200: rgba(247, 163, 166, 1);
    --red--100: rgba(255, 210, 217, 1);
    --red--50: rgba(255, 237, 241, 1);

    --blue--900: rgba(34, 44, 59, 1);
    --blue--800: rgba(53, 64, 83, 1);
    --blue--700: rgba(68, 83, 105, 1);
    --blue--600: rgba(85, 102, 127, 1);
    --blue--500: rgba(98, 116, 144, 1);
    --blue--400: rgba(121, 136, 162, 1);
    --blue--300: rgba(144, 157, 180, 1);
    --blue--200: rgba(174, 185, 204, 1);
    --blue--100: rgba(203, 213, 228, 1);
    --blue--50: rgba(234, 238, 249, 1);

    /* Text-size styles */
    --heading-1--text--size: 24px;
    --heading-2--text--size: 22px;
    --heading-3--text--size: 20px;
    --heading-4--text--size: 18px;
    --heading-5--text--size: 16px;
    --body-regular--text--size: 16px;
    --button--text--size: 16px;
    --secondary-1--text--size: 14px;
    --secondary-2--text--size: 12px;
    --secondary-3--text--size: 10px;
    --secondary-4--text--size: 8px;

    /* Effect styles */
    --inputs-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
    --inputs-focus-shadow: 4px 4px 12px rgba(152, 177, 75, 0.25);
    --inputs-error-shadow: 4px 4px 12px rgba(255, 81, 75, 0.25);


    /* Colors */
    --primary--text--color: var(--base--800);
    --secondary--text--color: var(--blue--300);
    --error--color: var(--red--500);

    --orange--primary--color: var(--orange--900);
    --green--primary--color: var(--green--600);

    --background-header-footer: rgba(255, 255, 255, .5);
    --background-color: var(--pattern);
    --overlay-color: rgba(79, 79, 79, 0.3);
    --background: var(--pattern) url('static/bg_pattern.png');
    --invisible: rgba(255, 255, 255, 0);

    /* Shadows */
    --card-shadow: 4px 4px 10px rgba(123, 123, 123, 0.25);
    --chat-shadow: 0 0 20px #DCDCDC;

    /* Fonts */
    --modak-font: 'Modak', sans-serif;
    --mulish-font: 'Mulish', sans-serif;

    /* Loading */
    --loading-grey: #ededed;
    --loading-shadow-color: rgba(0, 0, 0, 0.1);

    /* Borders */
    --border-12: 12px 12px 12px 12px;
    --border-12-left: 12px 0 0 12px;
    --border-12-top: 12px 12px 0 0;
    --border-12-right: 0 12px 12px 0;
    --border-12-bottom: 0 0 12px 12px;
    --border-30: 30px 30px 30px 30px;

    /* Swiper and Gallery */
    /*--swiper-theme-color: var(--orange--900)*/;
}

body {
    font-family: var(--mulish-font);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: var(--background);
    color: var(--primary--text--color);
}

h1 {
    font: normal normal 700 var(--heading-1--text--size)/30px var(--mulish-font);
}

h2 {
    font: normal normal 700 var(--heading-2--text--size)/28px var(--mulish-font);
}

h3 {
    font: normal normal 700 var(--heading-3--text--size)/25px var(--mulish-font);
}

h4 {
    font: normal normal 700 var(--heading-4--text--size)/23px var(--mulish-font);
}

h5 {
    font: normal normal 700 var(--heading-5--text--size)/20px var(--mulish-font);
}

.primary__text {
    font: normal normal 400 var(--body-regular--text--size)/20px var(--mulish-font);
}

.secondary__text-1 {
    font: normal normal 400 var(--secondary-1--text--size)/18px var(--mulish-font);
}

.secondary__text-2 {
    font: normal normal 400 var(--secondary-2--text--size)/15px var(--mulish-font);
}

.secondary__text-3 {
    font: normal normal 400 var(--secondary-3--text--size)/13px var(--mulish-font);
}

.secondary__text-4 {
    font: normal normal 400 var(--secondary-4--text--size)/10px var(--mulish-font);
}

.underlined {
    text-decoration: underline;
    cursor: pointer;
}

.container {
    margin: 0 auto;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    max-width: calc(1182px + 32px);
    box-sizing: border-box;
}


/* CSS animations from react-transition-group */
.modal-enter {
    opacity: 0;
    transform: scale(0.9);
}

.modal-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity .2s, transform .2s;
}

.modal-exit {
    opacity: 1;
}

.modal-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity .2s, transform .2s;
}

.fade-enter {
    opacity: 0;

}

.fade-enter-active {
    opacity: 1;

}

.fade-exit {
    opacity: 1;

}

.fade-exit-active {
    opacity: 0;

}

.fade-enter-active,
.fade-exit-active {
    transition: opacity .1s, transform .1s;
}


/* styles for Swiper and Gallery */
.swiper-button-next {
    color: var(--base--0);
}

.swiper-button-prev {
    color: var(--base--0);
}

.swiper-pagination-fraction {
    color: var(--base--0);
}

.image-gallery-svg {
    scale: .6;
}

.image-gallery-slide {
    width: 600px;
    height: 375px;
    display: flex !important;
    background-color: rgba(0, 0, 0, .2);
}

.image-gallery-image {
    max-width: 100%;
    max-height: 100% !important;
}

.image-gallery-content.fullscreen .image-gallery-slide {
    height: initial;
    width: initial;
    display: block !important;
}

.image-gallery-content.fullscreen .image-gallery-image {
    max-height: calc(100vh - 80px) !important;
    max-width: initial;
}

.image-gallery-icon:hover {
    color: var(--orange--primary--color);
}

.image-gallery-thumbnail.active, .image-gallery-thumbnail:hover {
    border-color: var(--orange--primary--color);
}

/* Scroll bar */
* {
    scrollbar-color: var(--base--400) var(--base--100);
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--base--400);
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background-color: var(--base--100);
}

@media screen and (max-width: 700px) {
    * {
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }

    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        display: none;
    }

    ::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 3px;
        display: none;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
        display: none;
    }
}
