.nav {
    z-index: 40;
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: var(--base--0);
}

.menu__item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 60px;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--blue--300);
}

.icon {
    width: 32px;
    height: 32px;
}

.menu__item > svg > path {
    fill: var(--blue--300);
}

.nav:global(>a.active) {
    color: var(--orange--primary--color);
}

.nav:global(>a.active > svg > path) {
    fill: var(--orange--primary--color);
}
