.pets {
    padding: 24px 0;
    gap: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.no_favorites {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
}

@media screen and (max-width: 700px) {
    .pets {
        gap: 16px;
    }
}
